*{
	margin: 0;
	padding: 0;
	font-family: serif;
	box-sizing: border-box;
}
h1{
	text-align: center;
	color: peru;
	padding: 20px;
}
nav{
	background-color:lightgreen;
	display: grid;
	place-items:center;
	font-family:sans-serif;
	

}
nav ul a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #000;
	transition: 0.2s ease-in;
	font-size: 18px;
	list-style-type: none;
}
nav ul a:hover{
	background-color: green;
	color: white;

}
.items{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	padding: 30px 20px;
	grid-column-gap: 20px;
	grid-row-gap: 30px;

}
img {
    float: left;
    width:  400px;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
    padding: 6px;
}
img:hover{
	transform: scale(1.10);
}
.item h4{
	padding: 6px 6px;
	text-align: center;
	font-family: sans-serif;
	text-size-adjust: 20;


}
.item button{
	padding: 10px 30px;
	border:none;
	outline: none;
	background-color: peru;
	color:white;
	cursor: pointer;
	border-radius: 10px;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	transition: 0.2s all;
}
.item button:hover{
	transform: scale(1.04);
}
@media screen and (max-width: 1000px)
{
	.items{
		grid-template-columns: repeat(2,1fr);
	}
}
@media screen and (max-width: 768px)
{
	.items{
		grid-template-columns: repeat(1,1fr);
	}
}
a.{text-decoration: none;}